<app-filter-panel></app-filter-panel>

@if(productService.isLoading()) {
<ng-container>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-container>

} @else if (productService.error()) {

<ng-template>
  <mat-toolbar color="warn" class="error-banner">
    {{ productService.error() }}
  </mat-toolbar>
</ng-template>

} @else if (filteredProducts().length > 0) {

<div class="grid-container" [@gridAnimation]="filteredProducts().length">
  @for (product of filteredProducts(); track product.id) {
  <div class="grid-item">
    <app-product [product]="product"></app-product>
  </div>
  }
</div>

} @else if(filteredProducts().length === 0) {
<div class="no-results-message">
  <div class="no-results-icon">
    <mat-icon>filter_alt_off</mat-icon>
  </div>
  <p>No products match the selected filters.</p>
  <button mat-stroked-button color="primary" (click)="clearFilters()">
    Clear Filters
  </button>
</div>
}
