@use "variables" as vars;

#logoText {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2 * vars.$spacing-unit;
  line-height: 1;
  letter-spacing: -0.5px;
  color: #333;
}

.app-container {
  height: 100vh;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 8px 0px rgba(19, 20, 22, 0.08);
}

.app-sidenav {
  width: 300px;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding: calc(vars.$spacing-unit / 2);
  box-shadow: 0 0 vars.$spacing-unit rgba(0, 0, 0, 0.35);
}

mat-icon {
  font-size: 2 * vars.$spacing-unit;
  width: 2 * vars.$spacing-unit;
  height: 2 * vars.$spacing-unit;
}
