<mat-sidenav-container class="app-container">
  <mat-sidenav
    #cartSidenav
    position="end"
    [mode]="drawerMode()"
    class="app-sidenav"
  >
    <app-cart></app-cart>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span id="logoText">coding challenge</span>
      <button
        mat-icon-button
        (click)="cartSidenav.toggle()"
        [matBadge]="cartService.items().length"
        matBadgeOverlap="true"
        matBadgePosition="above after"
        matBadgeColor="warn"
      >
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
